div{
    width: 400px;
    height: 200px;
    background-color: #7aa874;
    margin:auto;
    background-image: url(05_background.jpeg);
    background-size: cover;
    color: white;
}

/* background-image:url(05_background.jpeg); */
/* background-size: contain / cover / auto; */