<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Username</title>
</head>

<body>
    <h2>You are about to edit this user: <%= user.EMAIL%>
    </h2>
    <form method="post" action="/user/<%=user.ID%>?_method=PATCH">
        <textarea name="username" id="username" cols="30" rows="10"><%=user.USERNAME%></textarea><br>
        <input type="password" placeholder="Enter Password to countinue" name="password" id="password">
        <button>Edit</button>
    </form>
</body>

</html>