<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write New Chat</title>
</head>

<body>
    <h3>Write New Chat..</h3>
    <form method="post" action="/chats">
        <input type="text" name="from" id="from" placeholder="Who are you?"> <br><br>
        <textarea name="msg" id="msg" cols="30" rows="10" placeholder="Write your message here.."></textarea> <br><br>
        <input type="text" name="to" id="to" placeholder="Add receiver"> <br><br>
        <button>Click to create chat</button>
    </form>
</body>

</html>